
projects/in_progress/project_184_training_center/\.babelrc

projects/in_progress/project_184_training_center/package-lock\.json

projects/in_progress/project_184_training_center/package\.json

projects/in_progress/project_184_training_center/postcss\.config\.js

projects/in_progress/project_184_training_center/webpack\.config\.js
