* {
	padding:0;
	margin:0;
	font-weight:normal;
	box-sizing: border-box;
	}

body{
	background-image:url(../img/fon.jpg);
	background-repeat: no-repeat;
	padding-top:230px;
	padding-bottom:270px;
}

h3{
	font-family: pathway gothic one;
	font-size: 32px;
	color: #263555;
}

h5, li{
	font-family: arial;
	font-size: 15px;
	color: #263555;
}

p{
	font-family: arial;
	font-size: 13px;
	color: #4e5050
}