.wrapper {
	  width: 1024px;
	  padding: 60px 60px 135px 60px;
	  margin-right: auto;
	  margin-left: auto;
	  background-color: #fff;
}

@media only screen and (min-width: 480px) {
  .wrapper {
    max-width: 58%;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper {
    max-width: 100%;
  }
}

.title{
	font-family: Pathway Gothic One;
	color: #263555;
}

.to-home{
	text-align:center;
	text-decoration: none;
	position: fixed;
	right: calc((100vw - 1024px) / 2 + 10px);
	bottom: 85px;
	width: 30px;
	height: 30px;
	padding:4px;
	border-radius: 15px;
	background-color: #38afe5;
	transition: all 200ms ease-in;
}

.ancer:after{
content: "\1F781";
font-size: 20px;
color: white;
text-decoration:none;

}

.ancer{
	font-size: 12px;
	text-decoration:none;
	color: #fdfdfd;
}

.to-home:hover{
	transform: scale(1.2);
	opacity: 1;
	transition: all 200ms ease-in;
}