*{
/*	outline: 1px solid grey;*/
}

body{
	margin: auto;
}

header{
	padding-top: 2.125rem;
	min-height: 33.75rem;
	background: url(../img/background/b_mobile.jpg) center no-repeat;
}

h1, h2, h3, a{
	font-family:Montserrat;
	font-weight: 700;
	color: var(--text-color_white);
	text-align: center;
}

p{
	font-family:Roboto;
	font-weight: 300;
	color: var(--text-color_grey);
	text-align: center;
}

button{
	font-family:Montserrat;
	font-weight: 700;
	font-size: 0.85rem;
	line-height: 2.5rem;
	border-radius: 1.5rem;
	min-width: 100%;
}



:root{
	--text-color_white:#ffffff;
	--text-color_black:#333333;
	--text-color_grey:#666666;
	--text-color_red:#ff4e50;
}

