@media screen and (max-width: 1600px ) {
    .wrapper{
    display: -ms-grid;
    display: grid; 
    -ms-grid-columns: (1fr)[12]; 
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
        "h h h h h h h h h h h h"
        ". m m m m m m m m m m ."
        ". f f f f f f f f f f .";
}

.service__body{
    grid-gap: 30px;
    -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    -ms-grid-rows: (100px)[2];
        grid-template-rows: repeat(2, 100px)
}

.header__body{
    margin: auto;
    max-width: 83.33%
}

.card__name{
    padding-top: 10px;
    padding-bottom: 5px;
}

.card__block{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
}

@media screen and (max-width: 1280px ) {

.service__body{
    grid-gap: 30px;
    -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    -ms-grid-rows: (100px)[2];
        grid-template-rows: repeat(2, 100px)
}
}

@media screen and (max-width: 960px ) {
    .wrapper{
    display: -ms-grid;
    display: grid; 
    -ms-grid-columns: (1fr)[12]; 
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
        "h h h h h h h h h h h h"
        ". m m m m m m m m m m ."
        "f f f f f f f f f f f f";
}
.service__body{
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-template-rows: repeat(auto-fit, 75px)
}

.card__block{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.header__body{
    margin: auto;
    max-width: 100%
}

.header__navigation{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.logotype{
    display: none;
}

.title-block{
    margin: auto;
    max-width: 700px;
}

.title--white{
    font-size: 96px;
    line-height: 96px;
}
}

@media screen and (max-width: 768px ) {

.menu__list{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 400px;
}

.menu__item{
    padding-bottom: 10px;
}

.title-block{
    margin: auto;
    max-width: 400px;
}

.title--decoratiwe-white{
    padding-top: 40px;
    font-size: 52px;
}

.title--white{
    font-size: 76px;
    line-height: 76px;
}

.service__body{
    -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    -ms-grid-rows: (75px)[6];
        grid-template-rows: repeat(6, 75px)
}

.card__block{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.footer{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
}

@media (min-width: 320px )  and (max-width: 540px ) {
    .wrapper{
    display: -ms-grid;
    display: grid; 
    -ms-grid-columns: (1fr)[12]; 
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
        "h h h h h h h h h h h h"
        ". m m m m m m m m m m ."
        "f f f f f f f f f f f f";
}

figure{
margin: 0;
}

.card__block{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.menu__list{
    min-width: 300px;
}

.title-block{
    margin: auto;
    max-width: 280px;
}

.title--decoratiwe-white{
    padding-top: 8px;
    font-size: 28px;
}

.title--white{
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 35px;
}

.btn{
  padding: 10px 20px;
  margin-bottom: 72px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 800;
}

.service__body{
    margin-top: 40px;
    margin-bottom: 40px;
    -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    -ms-grid-rows: (75px)[6];
        grid-template-rows: repeat(6, 75px)
}

.team__body{
    margin-top: 40px;
}

.footer__form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer_input{
    margin: 0;
    margin-top: 10px;
    line-height: 30px;
}

.footer__text{
    font-size: 12px;
}

.footer__btn{
    margin-bottom: 10px;
}

}