.sidebar{
	display: inline-block;
	width: 227px;
	vertical-align: top;
}

.principle{
	padding-left: 44px; 
	padding-bottom: 20px;
}

.testimonial{
	padding-left: 44px;
}

.title-principle{
/*	padding-bottom: 48px; - абсолютное позиционирование*/
	padding-bottom: 20px;
}

.text-title{
/*	padding-bottom: 18px; - абсолютное позиционирование*/
	padding-bottom: 13px;
}

.principle-text{
/*	padding-bottom: 34px; абсолютное позиционирование*/
	padding-bottom: 8px;
}

.principle{
	border-bottom:1px solid #dedbdb;
	height: 540px;
	margin-bottom: 58px;
}

.testimonial-box{
	height: 210px;
	width: 190px;
	border: 1px solid #dedbdb;
	background-color: #fcfafa;
	padding:23px 20px;
	margin-bottom: 24px;
}

.testimonial-title{
	padding-bottom:22px;
}

.director-title{
	padding-bottom: 18px;
	text-align: center;
}

.testimonial-logo::before {
				content: "\201C";
			}

.testimonial-logo::after {
				content: "\201D";
}

.round{
	display: inline-block;
}

.principle-content{
	padding-left: 40px;
}
/*абсолютное позиционирование
.principle-content-text-first::before { 
    content: "\0031";  
    display: inline-block;
    color: white;
    font-size: 16pt;  
	width: 30px;
	height: 30px;
	background: #38afe5;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;  
    line-height: 30px;  
    position: absolute; 
    left: 940px; 
    top: 435px;  
}

.principle-content-text-second::before { 
    content: "\0032";  
    display: inline-block;
    color: white;
    font-size: 16pt;  
	width: 30px;
	height: 30px;
	background: #38afe5;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;  
    line-height: 30px;  
    position: absolute; 
    left: 940px; 
    top: 580px;  
}

.principle-content-text-third::before { 
    content: "\0033";  
    display: inline-block;
    color: white;
    font-size: 16pt;  
	width: 30px;
	height: 30px;
	background: #38afe5;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;  
    line-height: 30px;  
    position: absolute; 
    left: 940px; 
    top: 725px; 
}*/

.principle-content-text-first::before { 
    content: "\0031";  
    display: inline-block;
    color: white;
    font-size: 20px;  
	width: 30px;
	height: 30px;
	background: #38afe5;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;  
    line-height: 30px;  
    position: relative; 
    left: -40px; 
    top: 30px;  
}

.principle-content-text-second::before { 
    content: "\0032";  
    display: inline-block;
    color: white;
    font-size: 20px;  
	width: 30px;
	height: 30px;
	background: #38afe5;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;  
    line-height: 30px;  
    position: relative; 
    left: -40px; 
    top: 30px;  
}

.principle-content-text-third::before { 
    content: "\0033";  
    display: inline-block;
    color: white;
    font-size: 20px;  
	width: 30px;
	height: 30px;
	background: #38afe5;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;  
    line-height: 30px;  
    position: relative; 
    left: -40px; 
    top: 30px;  
}