

  @media screen and (min-width: 740px)and (max-width: 1199px) {
	.wrapper{
		max-width:768px;
	}
	form{
		display: flex;
		flex-direction: column;
	}
	.left{
		display: flex;
		flex-direction: column;
		margin:auto;
		margin-bottom: 6px;
		justify-content: space-between;
		flex-basis: 180px;
		height: 150px;
		width: 400px;
 	}
 	.right{
		display: flex;
		flex-direction: column;
		flex-basis: 186px;
		height: 150px;
		width: 400px;
		margin:auto;
	}

	input[type="submit"]{
		margin: 7px auto;
		line-height: 30px;
		flex-basis: 50px;
		text-align: center;
		}
}
  	@media screen and (min-width: 1200px) {
	.wrapper{
		max-width:940px;
	}
  }