.section-title{
	font-size: 30px;
	margin-bottom: 50px;
}

.article-body{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.article-img{
	height: 100%;
	width: 98%;
}



.article-item:nth-child(3n){
	margin-right:0;
}

.article-item{
	position: relative;
}

.slasher{
	position: absolute;
	top: 0px;
	opacity: 0;
	width: 50%;
	height: 100%;
	background-color: #193149;
}

.slasher-title{
	display: block;
	text-align: center;
	padding-bottom: 25px;
	padding-top:20px;
	font-family: Open Sans Condensed;
	color: #ffffff;

	font-size: 30px;
}

.slasher-text{
	padding:0 10px 0 10px;
	margin-bottom: 10px;
	font-family: arial;
	font-size: 10px;
	line-height:15px;
	color:#cbc6c6;
}

.slasher-buttom{
	padding:3px 12px 3px 12px;
	font-family: arial;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #fbf6f9;
	border:0.7px solid grey;
	border-radius: 5px;
	margin-left: 70px;
	margin-bottom: 20px;
}

.article-item:hover .slasher{
	opacity: 1;
	transition: all 200ms ease-in;
}