@media (min-width: 769px) {

header{
	padding-top: 2.125rem;
	min-height: 43.75rem;
	background: url(../img/background/b_desktop.jpg) center no-repeat;
}

.menu_rev{
	flex-direction: row-reverse;
}

.menu{
	margin:0;
}

.menu-link{
	margin-right: 0;
	margin-left: 2rem;
	margin-bottom: 8.125rem;
}

.header-title_big{
	font-size: 3.25rem;
}

.header-title_little{
	font-size: 1.5rem;

}
}