
@media screen and (min-width: 1200px) and (max-width: 1440px){

}

@media screen and (min-width: 960px) and (max-width: 1200px){
    .gallery{
        max-width: 810px;
    }

    .gallery__list{
        max-width: 800px;
        grid-template-columns: repeat(auto-fill, minmax(180px, 4fr));
    }
    
    .favorites__text{
        font-size: 16px;
    }
}


@media screen and (min-width: 768px) and (max-width: 960px){
    .header__logo{
        width: 260px;
        height: 70px;
    }
    .logo__icon{
        width: 40px;
        margin-right: 20px;
    }

    .logo__text{
        line-height: 70px;
        font-size: 40px;
    }
    .add-form{
        margin-top: 55px;
    }

    .gallery{
        max-width: 710px;
    }
    .gallery__list{
        max-width: 700px;
        grid-template-columns: repeat(auto-fill, minmax(160px, 4fr));
    }
    input{
        min-width: 320px;
    }  
    .favorites__text{
        font-size: 14px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .header__logo{
        margin-top: 36px;
        width: 200px;
        height: 55px;
    }
    .logo__icon{
        width: 30px;
        margin-right: 15px;
    }

    .logo__text{
        line-height: 55px;
        font-size: 34px;
    }
    .add-form{
        margin-top: 24px;
    }

    .gallery{
        max-width: 420px;
    }
    .gallery__list{
        max-width: 400px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 4fr));
        padding: 10px;
    }
    input{
        min-width: 280px;
    }
    .favorites__text{
        font-size: 12px;
    }
    .form{
        margin-top: 35px;
    }
    .item img{
        height: 100px;
    }
}

@media screen and (min-width: 340px) and (max-width: 480px){
    header{
        padding: 20px;
    }
    .header__logo{
        margin-top: 36px;
        width: 200px;
        height: 55px;
    }
    .logo__icon{
        width: 30px;
        margin-right: 15px;
    }

    .logo__text{
        line-height: 55px;
        font-size: 34px;
    }
    .add-form{
        margin-top: 24px;
    }

    .gallery{
        max-width: 300px;
    }
    .gallery__list{
        max-width: 280px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 4fr));
        padding: 10px;
    }
    input{
        min-width: 190px;
        margin-right: 5px;
    }
    .favorites__text{
        font-size: 0px;
    }
    .favorites__text::before {
        font-size: 26px;
        padding-right: 0px;
    }
    .form{
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .item img{
        height: 80px;
    }
    .slider {
        left: 44%;
    }
}

@media screen and (min-width: 260px) and (max-width: 340px){
    header{
        padding: 5px;
    }
    .header__logo{
        margin-top: 36px;
        width: 200px;
        height: 55px;
    }
    nav{
        right: 10px;

    }
    .logo__icon{
        width: 30px;
        margin-right: 15px;
    }

    .logo__text{
        line-height: 55px;
        font-size: 34px;
    }
    .add-form{
        margin-top: 24px;
    }

    .gallery{
        max-width: 240px;
    }
    .gallery__list{
        max-width: 220px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 4fr));
        padding: 3px;
    }
    input{
        min-width: 190px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .favorites__text{
        font-size: 0px;
    }
    .favorites__text::before {
        font-size: 26px;
        padding-right: 0px;
    }
    .form{
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .item img{
        height: 80px;
    }
    .slider {
        left: 44%;
    }
}