.slider-overlay{
    display: none;
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 210px;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-color: rgba(33, 33, 33, 0.3)
    /* display: none; */
}

.slider-overlay.visible{
    display: block;
}

.slider {
    position: fixed;
    left: 47%;
    transform: translate(-50%, 0);
    margin: auto;
    width: 80%;
    max-width: 750px;
    height: auto;
    text-align: center;
    font-size: 10px;
}

.slider__image__animation{
    animation-name: animationSliderImage;
	animation-duration: 2s;
}

.slider > img {
    margin: 15px;
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
}

.button__block{
    margin: auto;
    padding: 0 8px;
    display: flex;
    justify-content: space-around;
    width: 115px;
    height: 35px;
    background-color: #673ab7;
    border-radius: 25px;
}

.button__block button{
    text-align: center;
    padding: 0;
    line-height: 30px;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight: normal;
    color: white;
    background: none;
    border: none;
}

.button__block button:focus{
    outline: none;
}

.button__block .img-fav{
    color: yellow;
    flex-grow: 2;
}

.img-prev{
    flex-grow: 1;
}

.img-next{
    flex-grow: 1;
}   

.img-close{
    flex-grow: 2;
}

.button__block button:hover{
    color: #cddc39;
    font-weight: 700;
    font-size: 18;
}

.manege-buttons_block{
    display: flex;
    justify-content: space-between;
}