@media screen and (min-width: 768px) and (max-width: 960px){

    .gallery__list{
        width: 680px;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(210px, 4fr));
    }

    .slider {
        width: 640px;
        height: 365px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .form-block.mooved{
        margin-top: 45px;
    }

    .gallery__list{
        width: 420px;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(160px, 4fr));
    }

    .slider-overlay{
        padding-bottom: 30px;
    }

    .slider {
        width: 440px;
        height: 251px;
    }

    input {
        min-width: 240px;
    }
    
    .confirm{
        line-height: 251px;
        font-size: 30px;
        font-weight: 800;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px){
    header{
        padding: 30px 0px;
    }

    .favorites__text{
        margin: 0;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        color: #673ab7;
    }
    
    .favorites__text::before {
        font-size: 14px;
        padding-right: 3px;
        content: "\2605";
        color: #673ab7;
    }
    
    .header__logo{
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 110px;
        height: 53px;
        width: 200px;
        border-radius: 20px;
        background-color: #673ab7;
        text-decoration: none;
    }
    
    .logo__icon{
        width: 30px;
        margin-right: 18px;
    }
    
    .logo__text{
        margin: 0px;
        line-height: 53px;
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        font-size: 30px;
        color: white;
    }

    .gallery__list{
        width: 280px;
        padding: 5px;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 4fr));
    }
    
    .slider-overlay{
        padding-bottom: 10px;
    }

    .slider {
        width: 300px;
        height: 171px;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
    }

    input {
        min-width: 260px;
        margin-right: 0;
        margin: auto;
        margin-bottom: 10px;
    }
    .confirm{
        line-height: 171px;
        font-size: 22spx;
        font-weight: 800;

    }
    .search__btn{
        width: 80px;
        height: 25px;
        padding: 0 16px;
        margin-right: 0px;
        margin: auto;

    }
}