/* ==================================================
Adaptive
================================================== */

/*_________________ Header-block __________________*/

@media screen and (max-width: 960px){
    .navigation a{
        display: none;
    }
    .navigation .menu-icon{
        display: block;
        font-size: 25px;
    }

    .navigation.responsive{
        position: relative;
        top: 50px;
        left: 0px;
    }

    header .navigation.responsive{
        height: 200px;
    }
    
    nav{
        width: 20%;
        text-align: right;
    }

    .navigation.responsive .menu-icon{
        position: absolute;
        top: -50px;
        right: 0px;
    } 
    .navigation.responsive a{
        display: block;
        text-align: left;
    }

/*_________________ Main-block __________________*/

    .main-about{
        flex-direction: column;
    }

    .main-about .info-block{
        width: 100%;
    }

    .main-about .sidebar-about{
        width: 100%;
    }

    .about-list{
        flex-direction: row;
        padding: 0;
    }

    .item-link{
        width: 25%;
        text-align: center;
        border: 1px solid #333333;
        padding: 0;
        font-size: 16px;
    }
}