.main{
	padding: 45px 0;
	text-align: center;
}

.line--red{
	position: relative;
}

.line--red::after{
	background-color: var(--text-color_red);
    display: block;
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    content: "";
    height: 3px;
    width: 80px;
}

.service__body{
	margin:auto;
	margin-top: 120px;
	margin-bottom: 85px;
	max-width: 1450px;
	display: -ms-grid;
	display: grid;
    grid-gap: 40px;
    -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    -ms-grid-rows: (100px)[2];
        grid-template-rows: repeat(2, 100px)
}

.service__item{
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.service__icon{
	margin: 0 20px;
	width: 40px;
	height: 40px;
}

.title__small{
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}


.team__body{
	margin-top: 120px;
}

.team__text{
	padding: 0 8%;
}

.card__block{
	display: -ms-grid;
	display: grid;
    grid-gap: 15px;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card{
	margin:auto;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.card__body{
	position: relative;
}

.card__img{
	width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.profile__img{
	width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.card__social{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 226px;
	opacity: 0;  					
	-webkit-transition: all 0.5s ease;  					
	-o-transition: all 0.5s ease;  					
	transition: all 0.5s ease;
	z-index: 1;
}

.card__item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 55px;
	height: 55px;
	background-color: var(--text-color_yelloy);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.card__link{
	display: flex;
	margin: auto;
	width: 100%;
	height: 100%;
}

.soc-icon{
	margin: auto;
	width: 27px;
	height: 27px;
	fill: var(--text-color_red);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.card:hover
.card__social{
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.card:hover
.card__body{
	-webkit-transform: translate(-3%, -2%);
	    -ms-transform: translate(-3%, -2%);
	        transform: translate(-3%, -2%);
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.card:hover
.card__img{
    -webkit-transform: translate(-3%, -2%);
        -ms-transform: translate(-3%, -2%);
            transform: translate(-3%, -2%);
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.card:hover
.card__img:after{
	content: "";
	position: absolute;
	top: 49.5%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
	background: -webkit-linear-gradient(bottom, #fce38a, #f38181);
	background: -o-linear-gradient(bottom, #fce38a, #f38181);
	background: linear-gradient(to top, #fce38a, #f38181);
	opacity: 0.85;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
}

.card:hover
.card__back{
	background-color: var(--text-color_blue);
}


.card__item:hover{
	background-color: var(--text-color_red);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.card__item:hover
.soc-icon{
	fill: var(--text-color_white);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.card__info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.card__name{
	padding-top: 30px;
	padding-bottom: 15px;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--text-color_black)
}

.card__job{
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	color: var(--text-color_grey)
}